$white: #FFFFFF;
$black: #000000;
$body-gray: #F1F1F1;
$dark-orange: #FF6100;
$light-black: #2D2D2D;
$dark-brown: #1C0A01;
$brown: #441B03;
$grey: #646464;
$light-grey: #ECECEC;
$inputborder: #818181;
$table-border: #412c2c;
$table-border2: #EEE1E1;
$dark-blue: #0055FF;
$green:#13AA5F;
$orange: #FFA200;
$red: #FF0000;
$drop-grey: #B8B8B8;
$yellow:  #FFD500;
$light-brown:#8A3204;
$status-green: #30AE04;
$status-red: #FF2C00;
$status-blue: #085EF2;

$fs-12: 12px;
$fs-14: 14px;
$fs-15: 15px;
$fs-18: 18px;
$fs-20: 20px;
$fs-28: 28px;

